/* .grid {
 
    display: grid;
     
    grid-template-columns: repeat(3, 1fr);
     
    grid-auto-rows: auto;
     
    grid-gap: 1rem;
     
    }
     
    
     
    .card {
     
    border: 2px solid #e7e7e7;
     
    border-radius: 4px;
     
    padding: .5rem;
     
    } */


    .grid {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }