@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* body {
    background: grey;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
} */
.form-container{
    width: 360px;
    background-color: #f2f2f2;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0.2), 0 5px 0 rgba(0, 0, 0.24);
    padding: 10px;
    float: right;
}
.register-form{
    display: flex;
     flex-direction: column;
    justify-content: initial;
    padding: 0px; 
    margin: 0px;
}
.success-message {
    font-family: "Montserrat", sans-serif;
    background-color: sandybrown;
    padding: 15px;
    color: snow;
}
.form-field{
    margin: 0px 0 0px 0;
    padding: 15px;
    font-size: 16px;
    border: 1px solid grey;
  
    
    font-family: "Montserrat", sans-serif;
}
span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
  }
  
  input {
    background: #f2f2f2;
  }
  
  .error {
    border-style: solid;
    border: 2px solid #ffa4a4;
  }
  
  button {
    background: #4caf50;
    color: white;
    cursor: pointer;
  }
  .form-button{
      background-color: tomato;
  }
  
  button:disabled {
    cursor: default;
  }
  .heading-style {
    background-color: #f2f2f2;
    color: rgb(0, 225, 255);
    margin-bottom: 0%;
  }
  .heading-styling {
    color: orange;
    text-align: center;
    font-size: 20px;

  }
